In [2]:
 # creating csv file using pandas
import pandas as pd
df = pd.read_csv("C:\\Users\\Chinmay Deshpande\\Desktop\\Atharv Penter\\Python\\PANDAS\\REVISION\\emp.csv")
print(df)

   id      name
0   1    atharv
1   2    shivam
2   3       ram
3   4  shreyash
4   5      sham

In [3]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Chinmay Deshpande\\Desktop\\Atharv Penter\\Python\\PANDAS\\REVISION\\Resultcsv.csv")
print(df)

   Exam No    Student  Sem1  Sem2  Sem3  Sem4 Result  1st Year percentage  \
0        1   student1    34    40    50    32   Fail                 37.0
1        2   student2    45    22    67    55   Fail                 33.5
2        3   student3    67    32    44    34   Fail                 49.5
3        4   student4    38    42    27    34   Fail                 40.0
4        5   student5    56    50    67    44   Pass                 53.0
5        6   student6    76    67    56    44   Pass                 71.5
6        7   student7    66    44    76    38   Pass                 55.0
7        8   student8    45    27    55    56   Fail                 36.0
8        9   student9    66    44    45    55   Pass                 55.0
9       10  student10    73    55    66    88   Pass                 64.0

   2nd Year percentage
0                 41.0
1                 61.0
2                 39.0
3                 30.5
4                 55.5
5                 50.0
6                 57.0
7                 55.5
8                 50.0
9                 77.0

In [7]:
# usecols : Define which columns to read from the Excel sheet.
import pandas as pd
df2 = pd.read_csv("C:\\Users\\Chinmay Deshpande\\Desktop\\Atharv Penter\\Python\\PANDAS\\REVISION\\Resultcsv.csv",usecols=["Exam No","Student","Result"])
print(df2)

   Exam No    Student Result
0        1   student1   Fail
1        2   student2   Fail
2        3   student3   Fail
3        4   student4   Fail
4        5   student5   Pass
5        6   student6   Pass
6        7   student7   Pass
7        8   student8   Fail
8        9   student9   Pass
9       10  student10   Pass

In [8]:
# creating Excel file
import pandas as pd
df = pd.read_excel("C:\\Users\\Chinmay Deshpande\\Desktop\\Atharv Penter\\Python\\PANDAS\\REVISION\\Result1.xlsx")
print(df)

   Exam No    Student  Sem1  Sem2  Sem3  Sem4 Result  1st Year percentage  \
0        1   student1    34    40    50    32   Fail                 37.0
1        2   student2    45    22    67    55   Fail                 33.5
2        3   student3    67    32    44    34   Fail                 49.5
3        4   student4    38    42    27    34   Fail                 40.0
4        5   student5    56    50    67    44   Pass                 53.0
5        6   student6    76    67    56    44   Pass                 71.5
6        7   student7    66    44    76    38   Pass                 55.0
7        8   student8    45    27    55    56   Fail                 36.0
8        9   student9    66    44    45    55   Pass                 55.0
9       10  student10    73    55    66    88   Fail                 64.0

   2nd Year percentage
0                 41.0
1                 61.0
2                 39.0
3                 30.5
4                 55.5
5                 50.0
6                 57.0
7                 55.5
8                 50.0
9                 77.0

In [9]:
# if we have to skip first to rows we use skiprows
df2 = pd.read_excel("C:\\Users\\Chinmay Deshpande\\Desktop\\Atharv Penter\\Python\\PANDAS\\REVISION\\Result1.xlsx",skiprows=3)
print(df2)

    3   student3  67  32  44  34  Fail  49.5    39
0   4   student4  38  42  27  34  Fail  40.0  30.5
1   5   student5  56  50  67  44  Pass  53.0  55.5
2   6   student6  76  67  56  44  Pass  71.5  50.0
3   7   student7  66  44  76  38  Pass  55.0  57.0
4   8   student8  45  27  55  56  Fail  36.0  55.5
5   9   student9  66  44  45  55  Pass  55.0  50.0
6  10  student10  73  55  66  88  Fail  64.0  77.0

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.head()

,Exam No,Student,Sem1,Sem2,Sem3,Sem4,Result,1st Year percentage,2nd Year percentage
0,1,student1,34,40,50,32,Fail,37.0,41.0
1,2,student2,45,22,67,55,Fail,33.5,61.0
2,3,student3,67,32,44,34,Fail,49.5,39.0
3,4,student4,38,42,27,34,Fail,40.0,30.5
4,5,student5,56,50,67,44,Pass,53.0,55.5

In [12]:
df.head(3)

,Exam No,Student,Sem1,Sem2,Sem3,Sem4,Result,1st Year percentage,2nd Year percentage
0,1,student1,34,40,50,32,Fail,37.0,41.0
1,2,student2,45,22,67,55,Fail,33.5,61.0
2,3,student3,67,32,44,34,Fail,49.5,39.0

In [13]:
df.tail()

,Exam No,Student,Sem1,Sem2,Sem3,Sem4,Result,1st Year percentage,2nd Year percentage
5,6,student6,76,67,56,44,Pass,71.5,50.0
6,7,student7,66,44,76,38,Pass,55.0,57.0
7,8,student8,45,27,55,56,Fail,36.0,55.5
8,9,student9,66,44,45,55,Pass,55.0,50.0
9,10,student10,73,55,66,88,Fail,64.0,77.0

In [14]:
df.sample(5)

,Exam No,Student,Sem1,Sem2,Sem3,Sem4,Result,1st Year percentage,2nd Year percentage
3,4,student4,38,42,27,34,Fail,40.0,30.5
7,8,student8,45,27,55,56,Fail,36.0,55.5
8,9,student9,66,44,45,55,Pass,55.0,50.0
9,10,student10,73,55,66,88,Fail,64.0,77.0
0,1,student1,34,40,50,32,Fail,37.0,41.0

In [15]:
df.shape

(10, 9)

In [17]:
df.describe()

,Exam No,Sem1,Sem2,Sem3,Sem4,1st Year percentage,2nd Year percentage
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0000
mean,5.50000,56.600000,42.300000,55.300000,48.000000,49.450000,51.6500
std,3.02765,15.115849,13.308727,14.453373,16.806084,12.700503,12.9723
min,1.00000,34.000000,22.000000,27.000000,32.000000,33.500000,30.5000
25%,3.25000,45.000000,34.000000,46.250000,35.000000,37.750000,43.2500
50%,5.50000,61.000000,43.000000,55.500000,44.000000,51.250000,52.7500
75%,7.75000,66.750000,48.500000,66.750000,55.000000,55.000000,56.6250
max,10.00000,76.000000,67.000000,76.000000,88.000000,71.500000,77.0000

In [18]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [19]:
df.columns

Index(['Exam No', 'Student', 'Sem1', 'Sem2', 'Sem3', 'Sem4', 'Result',
       '1st Year percentage', '2nd Year percentage'],
      dtype='object')

In [20]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9
Exam No,1,2,3,4,5,6,7,8,9,10
Student,student1,student2,student3,student4,student5,student6,student7,student8,student9,student10
Sem1,34,45,67,38,56,76,66,45,66,73
Sem2,40,22,32,42,50,67,44,27,44,55
Sem3,50,67,44,27,67,56,76,55,45,66
Sem4,32,55,34,34,44,44,38,56,55,88
Result,Fail,Fail,Fail,Fail,Pass,Pass,Pass,Fail,Pass,Fail
1st Year percentage,37.0,33.5,49.5,40.0,53.0,71.5,55.0,36.0,55.0,64.0
2nd Year percentage,41.0,61.0,39.0,30.5,55.5,50.0,57.0,55.5,50.0,77.0